body {
    padding-top: 110px;
    padding-bottom: 20px;
    background-image: url('Images/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 978px) {
    body {
      padding-top: 60px;
    }
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

[data-isBreak="true"] {
    /*opacity: 0.3;*/

    /*background-color: #f2f2f2*/
}

.model-label {
    width: 30%;
}

.model-editor {
    width: 70%;
}

/* Set width on the form input elements since they're 100% wide by default */
input[type=text],
select,
textarea {
    width: 100%;
}

.well-Color {
    background-color: #f5f5f5;
    border: 1px solid;
}

.k-datetimepicker, .k-datepicker, .k-dropdown, .k-textbox {
    width: 100%
}

.editor-field {
    margin-right: 10px;
}

.badge-Square {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #ffdac1;
  border: 10px;
}

.appointment-template {
    border-left-style: solid;
    border-left-width: 5px;
}

.k-scheduler-table .k-today:not(.k-nonwork-hour) {
    background-color: azure;
}

.k-scheduler-table .k-nonwork-hour {
    background-color: #f2f2f2;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;  
    background: white;
    cursor: inherit;
    display: block;
}

div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #8AC007;
}

ul li a.selected {
    color: #FFFFFF;
    font-weight: bold !important;
}
