@model dynamic

@using Dentist.ViewModels

<script src="~/Scripts/App_Script/gridHelper.js"></script>
<script src="~/Scripts/App_Script/CookieNames.js"></script>
@{
    ViewBag.LeftMenuSectionExist = true;
    var pageSizeArray = new[] { 20, 50, 100 };
}
<div ng-app="app">
    <div ng-controller="patientNoteController as ctrl">
        <button class="btn list-toolbar">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        </button>
        <div class="list-panel list-panel-default" ng-repeat="patientNote in ctrl.patientNotes">
            <div class="list-panel-heading">
                <h3 class="list-panel-title">
                    {{patientNote.recordedDate}}
                    <span class="pull-right">
                        <button class="list-panel-heading-btn">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button class="list-panel-heading-btn">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </span>
                </h3>
            </div>
            <div class="list-panel-record" ng-repeat="note in patientNote.notes">
                {{note.description}}
            </div>
        </div>
    </div>
</div>
<script>
    //$().ready(function () {
    //    $("#btnAddPatientNote").click(function (e) {
    //        e.preventDefault();

    //        window.location = "http://localhost:54692/PatientNote/create";
    //    });
    //});

    //function GetPatientId() {
    //    var selectedPatient = GetSelectedPatient();
    //    if (selectedPatient) {
    //        return { PatientId: selectedPatient.Id };
    //    } else {
    //        return { PatientId: null };
    //    }

    //}

</script>