@model dynamic

@using Dentist.ViewModels

<script src="~/Scripts/App_Script/Factories/PatientNoteDataService.js"></script>
<script src="~/Scripts/App_Script/Controllers/PatientNoteController.js"></script>
<script src="~/Scripts/App_Script/Controllers/PatientNoteModelController.js"></script>

@{
    ViewBag.LeftMenuSectionExist = true;
    var pageSizeArray = new[] { 20, 50, 100 };
}
<div ng-app="app">
    <div ng-controller="patientNoteController as ctrl">
        <button class="btn list-toolbar" ng-click="ctrl.add()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        </button>
        <div class="list-panel list-panel-default" ng-repeat="patientNote in ctrl.patientNotes">
            <div class="list-panel-heading">
                <h3 class="list-panel-title">
                    <strong>{{patientNote.patientFullName}}</strong> - {{patientNote.recordedDate}}
                    <span class="pull-right">
                        <button class="list-panel-heading-btn" ng-click="ctrl.edit(patientNote.id)">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button> 
                        <button class="list-panel-heading-btn" ng-click="ctrl.delete(patientNote.id)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </span>
                </h3>
            </div>
            <div class="list-panel-record" ng-repeat="note in patientNote.notes">
                {{note.description}}
            </div>
        </div>

        @*this is the model to add and edit patient note*@
        @Html.Partial("~/Views/PatientNote/PatientNoteModel.cshtml")

    </div>
</div>


