
<script type="text/ng-template" id="patientNoteModal.html">
    @*// this will get an instance or patientNoteModelController*@
    <div class="modal-header">
        <h3 class="modal-title">Notes</h3>
    </div>
    <form name="frmPatientNote" novalidate>
        <div class="modal-body">
            <div class="validation-Error" ng-show="ctrl.errorMessage !== null">
                {{ctrl.errorMessage}}
            </div>
            <div class="validation-Error-list" ng-show="ctrl.modelState !== null">
                <div ng-repeat="property in ctrl.modelState">
                    <div ng-repeat="value in property">
                        {{value}}
                    </div>
                </div>
            </div>

            <button class="btn list-toolbar" ng-click="ctrl.add()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add note
            </button>
            <div class="form-group" ng-repeat="note in ctrl.patientNote.notes | filter:{objectState : '!delete'} track by $index">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="note.description" ng-change="ctrl.update(note)" required>
                    <span class="input-group-btn">
                        <button class="btn" type="button" ng-click="ctrl.delete($index); frmPatientNote.$dirty=true">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="modal-footer clear-float">
            <button class="btn btn-primary" type="submit" ng-click="frmPatientNote.$dirty ? ctrl.ok() : ctrl.cancel()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancel</button>
        </div>
    </form>

</script>