<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mydentist.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mydentist.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyDentist</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MyDentist</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:lha57tq6k5.database.windows.net,1433;Initial Catalog=MyDentist_db;User ID=gaurav.goyal@kernmobile.com@lha57tq6k5;Password=9713GgDj" Name="Data Source=tcp:lha57tq6k5.database.windows.net,1433;Initial Catalog=MyDentist_db;User Id=gaurav.goyal@kernmobile.com@lha57tq6k5;Password=9713GgDj" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Dentist.Models.ApplicationDbContext, Dentist" MigrationConfiguration="Dentist.Migrations.Configuration, Dentist" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lha57tq6k5.database.windows.net,1433;Initial Catalog=MyDentist_db;User Id=gaurav.goyal@kernmobile.com@lha57tq6k5;Password=9713GgDj</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>