
@{
    ViewBag.Title = "Home";
}



<form class="form-inline">
    <div class="container">
        <div class="input-group col-xs-12">
            <input type="text" class="form-control" id="searchBox" placeholder="Enter the search criteria...">
            <span class="input-group-addon glyphicon glyphicon-search search-button"></span>
        </div>
        <div class="cards">
            <div class="col-xs-12 col-sm-12 col-md-6 card">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Basic panel example
                    </div>
                </div>
            </div>
            <div class="card col-xs-12 col-sm-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Second panel
                    </div>
                </div>
            </div>
            <div class="card col-xs-12 col-sm-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        third panel
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

